################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto_inventario/FileContentIndex/5ef205a7-ce9a-4456-bc1b-aa16becf8236.vsidx
*.vsidx
/.vs/Proyecto_inventario/FileContentIndex/b40e4070-8a2c-4de5-a48c-da058e5ce08e.vsidx
/.vs/Proyecto_inventario/FileContentIndex/6c3f2cd2-3140-4a4d-bce2-fef815bf6091.vsidx
/.vs/Proyecto_inventario/FileContentIndex/1da9f0f6-247f-419a-9678-c9ecb850ef31.vsidx
/.vs/Proyecto_inventario/FileContentIndex/3bb6d1af-1ca1-4cfb-90e4-9a0834172bd1.vsidx
/.vs
/bin/Debug
/obj
/obj/Debug/net6.0-windows
/obj/Debug/net7.0-windows
/.vs/Proyecto_inventario/DesignTimeBuild/.dtbcache.v2
/Capa_Datos/obj/Debug/net7.0/Capa_Datos.assets.cache
/Capa_Datos/obj
/Capa_Datos/bin
